<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Connexion Client - Cli IT Shop</title>
    <link rel="stylesheet" href="{{ asset('css/style-from.css') }}">
        <link rel="icon" href="{{ asset('images/logo1.png') }}" sizes="200x128" type="image/png">

</head>
<body>
    <div class="main-container">
        <div class="left-section">
            <h1>BIENVENUE DANS <span>Clic IT Shop</span></h1>
            <img src="{{ asset('images/clientwelecom-image.png') }}" alt="Welcome">
        </div>

        <div class="right-section">
            <div class="logo">
                <img src="{{ asset('images/logo1.png') }}" alt="Logo" />
            </div>
            <div class="container">
                <h1>Connexion Espace Client</h1>
                {{ form_start(loginForm) }}
                {{ form_widget(loginForm) }}
                <button type="submit" class="btn btn-primary">Se connecter</button>
                {{ form_end(loginForm) }}
                {% if error %}
                    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}
                <p class="footer-text">
                    Vous n'avez pas de compte ? <a href="{{ path('client_register') }}">S'inscrire maintenant</a>
                </p>
            </div>
        </div>
    </div>
</body>
</html>